*{}
article._1tiin{
    width: 620px;
    height: 220px;
}
img{
    width: 325px;
    float: left;
    margin-right: 20px;

}
.tieude{
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    color: blueviolet;
    font-family: tahoma;
}