.C001_DuongVien{
    background-color: aqua;
 border: 3px solid blue;
 border-bottom-left-radius: 50px;
 border-bottom-right-radius: 50px;
 padding-left: 30px;
 margin-top: 100px;
 margin-bottom: 100px;
 margin-right: 450px;
 
}
.C002_DuongVien{
    
}
.C003_DuongVien{
    
}