html, body{
    margin: 0;
}
.box{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    float: left;
    margin-left: 20px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 37px;
}
.box1{
    /* Div đầu tiên thì sát lề trái */
    margin-left: 0px;
    /* sữ dụng backgroud-image để điều chỉnh màu (chuyển màu) */
    background-image: linear-gradient(45deg,rgb(76, 247, 85, 1),rgb(45, 179, 202,1));
}
.box2{
    background-image: linear-gradient(0deg, rgb(209, 238, 78), rgb(200, 18, 224));
}
.box3{
    background-image: linear-gradient(65deg, rgb(230, 2, 70), rgb(160, 212, 17));
}